.recommendation {
    .container {
        .left {
            display: flex;
            align-items: center;
            gap: 20px;

            h2 {
                color: white;
                font-weight: bold;
                font-size: 25px;
            }

            .arrow {
                color: var(--pink);
            }
        }
    }
}