.box{
    margin-bottom: 60px;
    .container{
        .box-items{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                span{
                    color: white;
                    font-weight: bold;
                    font-size: 25px;
                }
                .arrow{
                    color: var(--pink);
                }
            }
        }
    }
}