.box{
    margin-bottom: 80px;
    .container{
        .box-items{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
            span{
                color: white;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}