@import '../../mixins.scss';

.switch {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    width: 100%;
    max-width: 150px;

    @include md {
        max-width: 200px;
    }

    gap: 10px;

    .tab {
        text-align: center;
        border-radius: 50px;
        flex: 1;
        padding: 3px 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .active {
        background: var(--gradient);
        color: white;
        transition: 0.4s;
    }
}